/**
 * @Controller
 * @route('/{{route}}')
 */
function {{name}}() {
    //Uncomment this to test your controller
    /**
     * @route('/')
     * @method('GET')
     */
    //this.get = function (req, res) {
    //   res.send("alive");
    //}
}

module.exports = {{name}};